[build-system]
requires = ["setuptools >= 61.0", "hy >= 1.0"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ project_slug }}"
version = "{{ version }}"
description = "{{ description }}"
dependencies = ["hy >= 1.0"]
license = {text = "MIT"}
authors = [{name = "{{ author }}"}]

[project.scripts]
{{ project_slug }} = "{{ module_name }}.main:main"

[tool.setuptools.package-data]
"*" = ["*.hy"]

[project.optional-dependencies]
dev = ["pytest", "pytest-hy"]

[tool.pytest.ini_options]
pythonpath = ["."]
